<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3" #dashboardContent *ngFor="let dBord of dashboardData;">
        <div class="card mb-0 ">
            <div class="flex justify-content-between mb-3 ">
                <div>
                    <span class="block text-black-alpha-90 font-medium mb-3 text-4xl">{{dBord['header']}}</span>
                    <span class="text-orange-500 text-3xl">{{dBord['cnt']}} </span>
                </div>
            </div>
            <div *ngIf="![undefined,null,''].includes(dBord['newCnt'])">
                <span class="text-green-500 text-2xl">{{dBord['newCnt']}} </span>
                <span class="text-500 ml-4">New on today</span>
            </div>
            <div *ngIf="![undefined,null,''].includes(dBord['last7Cnt'])">
                <span class="text-green-500 text-2xl">{{dBord['last7Cnt']}} </span>
                <span class="text-500 ml-4">New last Week</span>
            </div>
            <div *ngIf="![undefined,null,''].includes(dBord['activeCnt'])">
                <span class="text-green-500 text-2xl">{{dBord['activeCnt']}} </span>
                <span class="text-500 ml-4">Active</span>
            </div>
            <div *ngIf="![undefined,null,''].includes(dBord['inActiveCnt'])">
                <span class="text-red-500 text-2xl">{{dBord['inActiveCnt']}} </span>
                <span class="text-500 ml-4">In Active</span>
            </div>
        </div>
    </div>
</div>

<div  style="margin-top:20%"
    *ngIf="dashboardData.length==0">
    <div class="flex flex-column align-items-center justify-content-center">
        <div class="text-orange-500 text-2xl font-medium">
            Please wait
        </div>
        <p-progressSpinner styleClass="w-4rem h-4rem vertical-align-middle" strokeWidth="8" fill="var(--surface-ground)"
            animationDuration=".5s">
        </p-progressSpinner>
    </div>

</div>