<p-divider align="left">
    <span class="p-tag p-1">Personal Information</span>
</p-divider>
<div class="formgrid grid m-3">
    <div class="field col">
        <label for="firstname2">Profile Picture</label>
        <div class="flex justify-content-center">
            <p-fileUpload mode="basic" chooseLabel="" name="demo[]" accept="image/*" [maxFileSize]="maxFileSize"
                (onUpload)="onUpload($event)"></p-fileUpload>
        </div>
    </div>
    <div class="field col">
        <label for="firstname2">Title</label>
        <input id="firstname2" type="text"
            class="text-base text-color surface-overlay p-2
             border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col">
        <label for="firstname2">First Name</label>
        <input id="firstname2" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col">
        <label for="lastname2">Lastname</label>
        <input id="lastname2" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col">
        <label for="firstname2">Full Name</label>
        <input id="firstname2" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
</div>
<p-divider align="left">
    <span class="p-tag p-1">Family Details</span>
</p-divider>
<div class="formgrid grid m-3">
    <div class="field col">
        <label for="firstname2">Father Name</label>
        <input id="firstname2" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col">
        <label for="lastname2">DOB/AGE</label>
        <input id="lastname2" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col">
        <label for="firstname2">Mother Name</label>
        <input id="firstname2" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col">
        <label for="lastname2">DOB/AGE</label>
        <input id="lastname2" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
</div>
<p-divider align="left">
    <span class="p-tag p-1">Joining Details</span>
</p-divider>
<div class="formgrid grid m-3">
    <div class="field col">
        <label for="firstname2">Date of Joining</label>
        <input id="firstname2" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col">
        <label for="lastname2">DOB as per (SSC)</label>
        <input id="lastname2" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col">
        <label for="firstname2">Department</label>
        <input id="firstname2" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col">
        <label for="lastname2">Designation</label>
        <input id="lastname2" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
</div>
<p-divider align="left">
    <span class="p-tag p-1">Identifation Details</span>
</p-divider>
<div class="formgrid grid m-3">
    <div class="field col">
        <label for="firstname2">Unit</label>
        <input id="firstname2" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col">
        <label for="lastname2">Aadhaar No:</label>
        <input id="lastname2" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col">
        <label for="firstname2">PAN No:</label>
        <input id="firstname2" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col">
        <label for="lastname2">Driving Licencse No:</label>
        <input id="lastname2" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
</div>
<p-divider align="left">
    <span class="p-tag p-1">Identifation Details</span>
</p-divider>
<div class="formgrid grid m-3">
    <div class="field col">
        <label for="firstname2">Voter ID No:</label>
        <input id="firstname2" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col">
        <label for="lastname2">Email ID:-</label>
        <input id="lastname2" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col">
        <label for="firstname2">Religion</label>
        <input id="firstname2" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col">
        <label for="lastname2">Caste</label>
        <input id="lastname2" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
</div>
<p-divider align="left">
    <span class="p-tag p-1">Address Details</span>
</p-divider>
<div class="formgrid grid m-3">
    <div class="field col">
        <label for="firstname2">Country</label>
        <input id="firstname2" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col">
        <label for="lastname2">State</label>
        <input id="lastname2" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col">
        <label for="firstname2">District:</label>
        <input id="firstname2" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col">
        <label for="lastname2">City</label>
        <input id="lastname2" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
</div>
<div class="formgrid grid m-3">
    <div class="field col">
        <label for="firstname2">House No:</label>
        <input id="firstname2" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col">
        <label for="lastname2">Street /Colony Name</label>
        <input id="lastname2" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col">
        <label for="firstname2">Village /Area</label>
        <input id="firstname2" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col">
        <label for="lastname2">Mandal /Town</label>
        <input id="lastname2" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col">
        <label for="lastname2">Address Info</label>
        <textarea rows="5" cols="30" pInputTextarea></textarea>
    </div>
</div>

<div class="grid m-3 justify-content-evenly">
    <!-- <button pButton pRipple label="Draft" class="w-15rem p-1 text-xl" icon="pi pi-save" styleClass="p-button-rounded "></button> -->
    <button pButton pRipple label="Submit" class="w-15rem p-1 text-xl" icon="pi pi-send" styleClass="p-button-rounded "></button>
</div>
