<p-toast></p-toast>
<button pButton pRipple label="Create" class="p-button-primary p-1" (click)="openNew()"></button>

<div *ngIf="products.length > 0">
    <p-table [value]="products" [columns]="cols" #t editMode="row" [paginator]="true" [rows]="products.length"
        [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]" styleClass="p-datatable-gridlines"
        [tableStyle]="{'min-width': '70rem', 'margin':'1rem' }">
        <ng-template pTemplate="caption">
            <div class="flex  justify-content-start p-1">
                <h5 class="m-0">{{ headerName}}</h5>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of cols; let colIn=index;" [style]="col.style" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon *ngIf="col.showSort" [field]="col.field"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex" let-columns="columns">
            <tr [pEditableRow]="product">
                <td *ngFor="let col of columns;let colIn=index" [style]="columns[colIn]['style']">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="product[col.field]" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{product[col.field]}}
                        </ng-template>
                    </p-cellEditor>
                </td>
<!-- 
                <td>
                    <div class="flex align-items-center justify-content-center gap-2">
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                            (click)="onRowEditInit(product)" class="p-button-rounded p-button-text"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                            (click)="onRowEditSave(product)"
                            class="p-button-rounded p-button-text p-button-success mr-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                            (click)="onRowEditCancel(product, ri)"
                            class="p-button-rounded p-button-text p-button-danger"></button>
                    </div>
                </td> -->
            </tr>
            <!-- <tr [pEditableRow]="product">
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="product.cdname" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{product.cdname}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="product.code">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{product.code}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [options]="statuses" appendTo="body" [(ngModel)]="product.active"
                                [style]="{'width':'100%'}"></p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{product.active}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td>
                    <div class="flex align-items-center justify-content-center gap-2">
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                            (click)="onRowEditInit(product)" class="p-button-rounded p-button-text"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                            (click)="onRowEditSave(product)"
                            class="p-button-rounded p-button-text p-button-success mr-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                            (click)="onRowEditCancel(product, ri)"
                            class="p-button-rounded p-button-text p-button-danger"></button>
                    </div>
                </td>
            </tr> -->
        </ng-template>

    </p-table>
</div>

<blockui [showBlockui]="blocUI" [target]="'t'"></blockui>