.layout-topbar {
    position: fixed;
    height: 3rem;
    left: 0;
    top: 0;
    width: 103%;
    background-color: var(--surface-card);
}

.layout-topbar-button>&:hover {
    color: var(--text-color);
    background-color: var(--surface-hover);
}


.layout-topbar-button>i {
    font-size: 1.5rem;
}

.layout-topbar-button>span {
    font-size: 1rem;
    display: none;
}

.layout-menu-button {
    margin-left: 2rem;
}

.layout-topbar-menu-button {
    display: none;


}

.layout-topbar-menu-button>i {
    font-size: 1.25rem;
}

.layout-topbar-menu {
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
}

.layout-topbar-button {
    margin-left: 1rem;
}