<div class="layout-topbar">
    <a class="layout-topbar-logo">
        <span class="font-semibold text-blue-500 text-1xl">{{companyName}}</span>
    </a>
    <div #topbarmenu class="layout-topbar-menu">
        <div class="text-xs font-semibold w-1.2rem ">
            <span class="mt-1 mr-1 ">
                Signed In <br>
                {{userInfo['loggedInTime']}}
            </span>
        </div>
        <div class="cursor-pointer" (click)="op.toggle($event)">
            <div class="border-left-3 border-primary-500">
                <div class="m-1 p-1 text-blue-800 font-bold  border border-round border-yellow-400">
                    Mr. {{userInfo['uname'] | uppercase}}
                </div>
            </div>
        </div>
    </div>
</div>

<p-overlayPanel #op [style]="{'width': '13rem'}" [showCloseIcon]="false">
    <ng-template pTemplate="content">
        <div class="flex flex-column m-2 pb-0">
            <div class="card m-1 cursor-pointer" style="background-color: orange;">
                <div class="p-3">
                    <span [pTooltip]="userInfo['cader']"
                        class="font-bold m-1 flex align-items-center justify-content-center"
                        style="min-width: 1rem; min-height: 1rem">{{userInfo['caderCode'] }}
                    </span>
                </div>
            </div>
            <!-- <div class="card m-1 cursor-pointer" style="background-color: orange;">
                <div class="p-3">
                    <span [pTooltip]="userInfo['cader']"
                        class="font-bold m-1 flex align-items-center justify-content-center"
                        style="min-width: 1rem; min-height: 1rem">{{userInfo['caderCode'] }}
                    </span>
                </div>
            </div> -->
            <div class="card m-1 cursor-pointer">
                <div class="p-3">
                    <i class="pi pi-cog mr-2"></i> Settings
                </div>

            </div>
            <div class="card m-1 cursor-pointer" (click)="onSignOutClick()">
                <div class="p-3 ">
                    <i class="pi pi-sign-out mr-2"></i>
                    <a href="/sml-signin" class="no-underline">
                        Sign Out
                    </a>
                </div>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>