<div class="grid layout-topbar">
    <div class="col-12">
        <div class="grid">
            <div class="col-2">
                <div class="text-left ml-1 mt-2">
                    <i class="pi pi-bars cursor-pointer ml-1" (click)="onBarClick()"></i>
                </div>

            </div>
            <div class="col-8">
                <div class="text-center font-bold text-blue-500  mt-2">
                    {{companyName}}
                </div>
            </div>
            <div class="col-2" (click)="op.show($event, targetEl)">
                <div class="mt-2 ml-4">
                    <i class="pi pi-user cursor-pointer" #targetEl></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
pTooltip="{{userInfo['uname'] | uppercase}}"
tooltipPosition="left" -->

<!-- [style]="{'width': '11rem', 'margin':'12px'}" -->

<p-overlayPanel #op [showCloseIcon]="false" [style]="{'margin':'10px'}">
    <ng-template pTemplate="content">
        <div class="flex flex-column m-1 pb-0">
            <div class="card m-1 cursor-pointer">
                <div class="text-center font-bold uppercase">
                    Mr. {{userInfo['uname']}}
                </div>
                <div class="text-center text-yellow-600">
                    {{userInfo['cader']}}
                    <!-- {{userInfo['caderCode']
                    }} -->
                    <!-- <div class="border-circle" style="background-color: orange;"> -->
                    <!-- <span [pTooltip]="userInfo['cader']"
                        class="font-bold m-1 flex align-items-center justify-content-center">{{userInfo['caderCode']
                        }}
                    </span> -->
                    <!-- </div> -->
                </div>
            </div>

            <!-- <div class="card m-1 cursor-pointer"> -->
            <div class="p-1 w-full text-center">
                <!-- <div class="font-light "> -->
                Signed In <br>
                {{userInfo['loggedInTime']}}
                <!-- </div> -->
            </div>

            <!-- </div> -->

            <div class="card m-1 cursor-pointer">
                <div class="p-3">
                    <i class="pi pi-cog mr-2"></i> Settings
                </div>

            </div>
            <div class="card m-1 cursor-pointer" (click)="onSignOutClick()">
                <div class="p-3 ">
                    <i class="pi pi-sign-out mr-2"></i>
                    <a href="/sml-signin" class="no-underline">
                        Sign Out
                    </a>
                </div>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>