<div class="layout-wrapper surface-300" #p>
    <app-header (sideBarClicks)="sidebarClick($event)"></app-header>
    <div class="layout-main-container">
        <router-outlet></router-outlet>
    </div>
    <!-- <app-footer></app-footer> -->
</div>

<blockui [showBlockui]="blocUI" [target]="'p'"></blockui>

<p-sidebar [(visible)]="sidebarVisible" styleClass="w-15rem" [showCloseIcon]="false">
    <div class="flex flex-column align-items-center m-4">
        <ul>

            <ng-container *ngFor="let item of model; let mi = index;">
                <li class="cursor-pointer text-bluegray-400">
                    {{ item.label }}
                    <ul *ngFor="let child of item.items; let ci = index" class="ml-1" routerLink="{{child.routerLink}}">
                        <li class="cursor-pointer text-blue-700 " (click)="toggle(mi,ci)">

                            <!-- <p-chip> -->

                            <!-- </p-chip> -->

                            <span for="" class="m-1">
                                <!-- <span class="w-1 font-bold text-center">{{ child.code }}</span> -->
                                {{
                                child.label
                                }}
                            </span>
                            <i *ngIf="child.isToggle" class="pi pi-angle-right ml-1"></i>
                        </li>
                    </ul>
                </li>
            </ng-container>
        </ul>
    </div>
</p-sidebar>