.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 3.8rem 1rem 1rem 1rem; // t r b l
    // transition: margin-left $transitionDuration;
}

.layout-main {
    flex: 1 1 auto;
}
