<div class="grid">

    <div class="sm:col-12 md:col-3 lg:col-4 xl:col-6">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Caders</span>
                    <div class="text-900 font-medium text-xl ml-4">12</div>
                </div>
                <!-- <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                </div> -->
            </div>
            <span class="text-green-500 font-medium ml-4">24 new </span>
            <span class="text-500 ml-4">since last visit</span>
        </div>
    </div>

    <div class="sm:col-12 md:col-3 lg:col-4 xl:col-6">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Branches</span>
                    <div class="text-900 font-medium text-xl ml-4">5</div>
                </div>
                <!-- <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                </div> -->
            </div>
            <span class="text-green-500 font-medium ml-4">%52+ </span>
            <span class="text-500 ml-4">since last week</span>
        </div>
    </div>

    <div class="sm:col-12 md:col-3 lg:col-4 xl:col-6">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Users</span>
                    <div class="text-900 font-medium text-xl ml-4">12</div>
                </div>
                <!-- <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                </div> -->
            </div>
            <span class="text-green-500 font-medium ml-4">24 new </span>
            <span class="text-500 ml-4">since last visit</span>
        </div>
    </div>

    <div class="sm:col-12 md:col-3 lg:col-4 xl:col-6">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Clients</span>
                    <div class="text-900 font-medium text-xl ml-4">5</div>
                </div>
                <!-- <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                </div> -->
            </div>
            <span class="text-green-500 font-medium ml-4">%52+ </span>
            <span class="text-500 ml-4">since last week</span>
        </div>
    </div>

    <div class="sm:col-12 md:col-3 lg:col-4 xl:col-6">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Gender</span>
                    <div class="text-900 font-medium text-xl ml-4">5</div>
                </div>
                <!-- <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                </div> -->
            </div>
            <span class="text-green-500 font-medium ml-4">%52+ </span>
            <span class="text-500 ml-4">since last week</span>
        </div>
    </div>

    <div class="sm:col-12 md:col-3  lg:col46 xl:col-6">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Title</span>
                    <div class="text-900 font-medium align-items-center text-xl ml-4">5</div>
                </div>
                <!-- <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                </div> -->
            </div>
            <span class="text-green-500 font-medium ml-4">%52+ </span>
            <span class="text-500 ml-4">since last week</span>
        </div>
    </div>
  

</div>