<div class="layout-topbar">
    <button class="p-link layout-menu-button layout-topbar-button" (click)="onSideBarClick()">
        <i class="pi pi-bars"></i>
    </button>

    <div class=" layout-topbar-logo">

        <div>
            <!-- <img src="../../assets/layout/images/sml" alt="logo"> -->
            <div>
                <small class="text-gray-600 font-semibold">Company :- </small>
            </div>
            <span class="text-blue-600 font-bold">{{companyName}}</span>
        </div>

    </div>

    <div class=" layout-topbar-logo">

        <div>
            <!-- <img src="../../assets/layout/images/sml" alt="logo"> -->
            <div>
                <small class="text-gray-600 font-semibold">Branch :- </small>
            </div>
            <span class="text-blue-600 font-bold"> {{branchName}}</span>
        </div>

    </div>


    <button title="bar" type="button" class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="op.show($event, targetE2)">
        <div #targetE2>
            <p-button [label]="userInfo['uname']" icon="pi pi-user" iconPos="right"></p-button>
        </div>
    </button>

    <div class="layout-topbar-menu" (click)="op.show($event, targetEl)">
        <div #targetEl>
            <p-button [label]="userInfo['uname']" icon="pi pi-user" iconPos="right"></p-button>
        </div>
    </div>

</div>

<p-overlayPanel #op [showCloseIcon]="false" [style]="{'margin':'10px 1px 10px 10px'}">
    <ng-template pTemplate="content">
        <div class="flex flex-column pb-0">
            <div class="cursor-pointer text-left">
                {{userInfo['cader']}}
            </div>
            <div class="card">
                <div class="text-center font-light text-gray-600">
                    Signed In
                </div>
                <div class="text-center font-bold ">
                    {{userInfo['loggedInTime']}}
                </div>

            </div>


            <div class="text-left">
                <div (click)="onSignOutClick()" class="no-underline cursor-pointer">
                    <i class="pi pi-sign-out"></i>
                    Sign Out
                </div>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>

<p-sidebar [(visible)]="sidebarVisible">
    <ul *ngFor="let tab of model" style="list-style-type: none;">
        <li>
            <span class="font-bold">{{ tab.label}}</span>
            <ul *ngFor="let tabs of tab.items" style="list-style-type: none;cursor: pointer;">
                <li (click)="onClick(tabs)">
                    <span class="font-semibold">{{tabs.label}}</span>
                </li>
            </ul>
        </li>
    </ul>
    <!-- <p-menu [model]="model" (onHide)="sidebarVisible=false"></p-menu> -->
</p-sidebar>