<div class="layout-topbar">
    <button title="bar" type="button" #menubutton class="p-link layout-menu-button layout-topbar-button"
        (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <div class=" layout-topbar-logo">

        <div>
            <!-- <img src="../../assets/layout/images/sml" alt="logo"> -->
            <div>
                <small class="text-gray-600 font-semibold">Company :- </small>
            </div>
            <span class="text-blue-600 font-bold">{{companyName}}</span>
        </div>

    </div>

    <div class=" layout-topbar-logo">

        <div>
            <!-- <img src="../../assets/layout/images/sml" alt="logo"> -->
            <div>
                <small class="text-gray-600 font-semibold">Branch :- </small>
            </div>
            <span class="text-blue-600 font-bold"> {{branchName}}</span>
        </div>

    </div>


    <button title="bar" type="button" #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="op.show($event, targetE2)">
        <div #targetE2>
            <p-button [label]="userInfo['uname']"  icon="pi pi-user" iconPos="right"></p-button>
        </div>
    </button>

    <div #topbarmenu class="layout-topbar-menu" (click)="op.show($event, targetEl)">
        <div #targetEl>
            <p-button [label]="userInfo['uname']"  icon="pi pi-user" iconPos="right"></p-button>
        </div>
    </div>

</div>

<p-overlayPanel #op [showCloseIcon]="false" [style]="{'margin':'10px 1px 10px 10px'}">
    <ng-template pTemplate="content">
        <div class="flex flex-column pb-0">
            <div class="card cursor-pointer py-1">
                <!-- <div class="user_details"> -->
                <div class="font-light text-gray-600">
                    User Cadre
                </div>
                <small class="designation_tag font-bold text-center">
                    {{userInfo['cader']}}
                </small>
                <!-- </div> -->
            </div>

            <div class="card cursor-pointer">
                <div class="text-left font-light text-gray-600">
                    Signed In
                </div>
                <div class="text-center font-bold ">
                    {{userInfo['loggedInTime']}}
                </div>
            </div>
            <div class="m-1">

                <div (click)="onSignOutClick()" class="no-underline cursor-pointer">
                    <i class="pi pi-sign-out"></i>
                    Sign Out
                </div>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>