<div class="grid surface-0">
    <crudgrid [headerName]="'Manage Company'" [masterApiKey]="'getCompany'" [cols]="caderCols"
        (isEnabled)="isEnabled($event)" [onlyGenderProps]="onlyGenderProps"></crudgrid>
</div>

<p-dialog [(visible)]="isClicked" [modal]="true" styleClass="p-fluid" [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content">
        <p-divider align="center">
            <span class="p-tag p-1">Create Company</span>
        </p-divider>
        <div class="flex flex-colum align-items-center justify-content-center">
            <div class="m-3">
                <div class="field">
                    <label for="firstname2">Name</label>
                    <input id="firstname2" type="text" [(ngModel)]="createMaster.cname" [pKeyFilter]="'alphanum'"
                        maxlength="30"
                        class="text-base text-color surface-overlay p-2
                     border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
                <div class="field">
                    <label for="firstname2">Code</label>
                    <input id="firstname2" type="text" [(ngModel)]="createMaster.ccode" [pKeyFilter]="'alphanum'"
                        maxlength="10"
                        class="text-base text-color surface-overlay p-2
                     border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
                <div class="field">
                    <label for="firstname2">Address</label>
                    <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="createMaster.cadress"
                        [pKeyFilter]="'alphanum'"></textarea>
                </div>
                <div class="field">
                    <label for="firstname2">Descriptions</label>
                    <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="createMaster.decs" [pKeyFilter]="'alphanum'"></textarea>
                </div>
                <div class="field">

                    <input type="checkbox" name="master" id="1" [(ngModel)]="createMaster.active" [disabled]="true">
                    <label for="lastname2" class="ml-2">Active</label>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="flex align-items-center justify-content-center m-2 ">
            <div class="p-1">
                <button pButton pRipple label="Cancel" class="p-button-info p-1 m-2" (click)="hideDialog()"></button>
            </div>
            <div class="p-1">
                <button pButton pRipple label="Save" class="p-button-primary p-1 m-2" (click)="saveProduct()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>

<p-toast position="center"></p-toast>