<div class=" flex align-items-center surface-100
 justify-content-center overflow-hidden mt-3">
    <div class="flex flex-column align-items-center justify-content-center p-1">

        <div style="border-radius:16px;
             padding:0.3rem; 
             background: linear-gradient(8000deg, var(--primary-color) 10%, rgba(97, 100, 102, 0) 30%);">
            <div class="w-50rem surface-card py-3 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-bold mb-4">
                        You have been Landed on to Moon...
                    </div>

                    <img src="assets/layout/images/pnf.gif" class="mb-5 w-46rem h-16rem 
                    flex-shrink-0">

                    <button pButton pRipple label="Go to Signin" class="w-20rem p-1 mt-4  text-xl"
                        styleClass="p-button-rounded " routerLink="/sml-signin"></button>
                </div>
            </div>
        </div>
    </div>
</div>